html, body {
  margin:0px;
  height:100%;
  font-family: Lucida Sans Typewriter
}

sidebar {
	background-color: blue;
	width: 20%;
	height: 100%;
	position: absolute;
	overflow: hidden;
}
model-viewer {
	width: 100%;
	height: 100%;
	position: absolute;
}
.animation-selector {
	background-color: red;
	overflow: hidden;
	position: fixed; 
    bottom: 0%;
    height: 0%;
    width: 100%;
}
.animation-selector > div {
	float: left;
	display: inline;
	margin-right: 2em;
}
#navButton {
	position: absolute;
	float: left;
	margin-left: 20%;
	margin-top: 1em;
	writing-mode: vertical-rl;
	text-orientation: mixed;
	border-style: solid;
	border-width: 3px;
	border-radius: 0px 3px 3px 0px;
	border-color: blue;
	background-color: blue;
}
#aniButton {
	position: fixed;
	bottom: 0%;
	right: 1em;
	margin-bottom: 0%;
	border-style: solid;
	border-width: 3px;
	border-radius: 3px 3px 0px 0px;
	border-color: red;
	background-color: red;
}
.clickable:hover {
	cursor: pointer;
}
